.block {
  /* height: 200px;
  width: 300px; */
  margin: 50px;
  /* border: 0.5mm solid black; */
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; */
}

.block:nth-child(1) {
  /* background: white; */
}

.block:nth-child(2) {
  /* background: white; */
}

.block:nth-child(3) {
  /* background: white; */
}

.block:nth-child(4) {
  /* background: white; */
  width: 700px;
}

.block:nth-child(5) {
  /* background: white; */
}

.block:nth-child(6) {
  /* background: white; */
}

.block:nth-child(7) {
  /* background: white; */
}

.block:nth-child(8) {
  /* background: white; */
  width: 700px;
}