@media (min-width: 576px) {
  h1 {
    font-size: 2rem;
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 3rem;
  }
}

@media (min-width: 992px) {
  h1 {
    font-size: 4rem;
  }
}

@media (min-width: 1200px) {
  h1 {
    font-size: 4rem;
  }
}

html,
body {
  height: 100%;
}

body {
  /* justify-content: center; */
  font-family: Roboto Mono, serif;
  background: #0c1117;
  margin: 0;
}

.rounded {
  border: 2px solid black;
  border-radius: 15px;

}

.text-background {
  background-color: rgb(10, 10, 10);
  /* color: aliceblue; */
}

.text {
  color: aliceblue;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.view {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.title {
  color: #d3d3d3;
  /* margin: min(5em, 100%); */
  margin-top: 25%;
  margin-bottom: 25%;
  /* margin: 20vmax; */
  /* margin: 75vh;  vh steht für viewbox height !!!!  IST NOCH NICHT FERTIG */
}

h2,
h3 {
  color: #d3d3d3;
}

.center {
  align-content: center;
  justify-content: center;
}